#add-asset {
  @include main-page-setup();
  width: fit-content;
  margin: 1rem;
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  #search-section {
    margin: 2rem 0;
    form {
      display: flex;
      align-items: center;
    }

    #search {
      border-radius: 15px;
      border: 1px solid #222;
      padding: 0.5rem;
      outline: none;
      margin: 0 0.5rem;
    }
    .search-btn {
      background: $green-gradient;
      border: none;
      height: 2rem;
      width: 2rem;
      border-radius: 50%;
      display: grid;
      place-content: center;
      color: #eee;
      cursor: pointer;
      outline: none;

      &:hover {
        background: $green-inverse-gradient;
      }
    }
  }
  .header {
    @include header-flex();
    .primary-btn {
      display: flex;
      align-items: center;
      svg {
        margin-right: 5px;
      }
    }
  }
}
#asset-list div {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2rem;

  width: fit-content;
  .list-item {
    max-width: 225px;
  }
  .no-results {
    grid-column: span 2;
    color: $blue-color;
    font-weight: 400;
  }
}

.loading-table {
  background-color: #222;
}
@media screen and(max-width: 1650px) {
  #asset-list div {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media screen and(max-width: 1200px) {
  #asset-list div {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and(max-width: 900px) {
  #asset-list div {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and(max-width: 750px) {
  #add-asset {
    .header {
      flex-direction: column;
      text-align: center;
    }
  }
}
@media screen and(max-width: 675px) {
  #asset-list div {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and(max-width: 500px) {
  #asset-list div {
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
  }
  #search-section {
    form {
      flex-direction: column;
      .search-btn {
        margin: 0.5rem;
      }
    }
  }
}
