#edit-asset {
  header {
    @include list-item();
    margin: 1rem 0;
    img {
      width: 30px;
      height: 30px;
    }
    p {
      font-weight: 400;
    }
  }
  h3 {
    font-weight: 400;
    margin: 2rem 0;
    span {
      color: $blue-color;
      font-weight: 400;
    }
  }
  form {
    display: flex;
    flex-direction: column;

    input {
      margin: 1rem;
      padding: 1rem;
      border-radius: 20px;
      border: 1px solid #222;
      font-size: 1.5rem;
      outline: none;
    }
  }
}
.your-data {
  display: flex;
  justify-content: space-around;
  h3 {
    @include list-item();
    display: flex;
    flex-direction: column;
    span {
      font-size: 1rem;
      text-transform: uppercase;
      font-style: italic;
    }
  }
}
